<footer class="footer">
    <div class="container">
        <div class="footer__contacts">
            <h5 class="footer-contact__title">Контакти:</h5>
            <div class="footer-contact">Телефон : +1800-222-3333</div>
            <div class="footer-contact">Email : contact@greennaturewp.com</div>
        </div>
        <div class="footer__social">
            <h5 class="footer-social__title">Приєднуйся:</h5>
            <div class="footer-social__links">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div>
    <div class="footer__copy"></div>
</footer>