<footer class="footer">
    <div class="container">
        <div class="footer__contacts">
            <h5 class="footer__title">Контакти:</h5>
            <div class="footer__contact">Телефон : +38-063-214-03-96</div>
            <div class="footer__contact">Email : ivan.dovhan@kkfashion.eu</div>
        </div>
        <div class="footer__social">
            <h5 class="footer__title">Приєднуйся:</h5>
            <div class="footer__links">
                <a href="https://www.facebook.com/profile.php?id=100001948903237" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/dovhan_ivan/?utm_source=ig_profile_share&igshid=1mc51nnlw85cb" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
    <div class="footer__copy"></div>
</footer>

<a href="tel:+38-063-214-03-96" class="contact-icon__phone contact-icon d-lg-none"><i class="fas fa-phone"></i></a>
<a href="mailto:ivan.dovhan@kkfashion.eu" class="contact-icon__mail contact-icon d-lg-none"><i class="fas fa-envelope"></i></a>