<footer class="footer">
    <div class="container">
        <div class="footer__contacts">
            <h5 class="footer__title">Контакти:</h5>
            <div class="footer__contact">Телефон : +38-063-214-03-96</div>
            <div class="footer__contact">Email : ivan.dovhan@kkfashion.eu</div>
        </div>
        <div class="footer__social">
            <h5 class="footer__title">Приєднуйся:</h5>
            <div class="footer__links">
                <a href="https://www.facebook.com/profile.php?id=100001948903237" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div>
    <div class="footer__copy"></div>
</footer>