<div class="header__header-top wow fadeInUp">
    <div class="container">
        <div class="row">
            <span class="header__contact col-lg-2 col-12">Телефон : +38-063-214-03-96</span> 
            <span class="header__contact col-lg-3 col-12">Email : ivan.dovhan@kkfashion.eu</span>
            <div class="header__social col-lg-2 offset-lg-4 d-lg-block d-none ml-auto">
                <a href="https://www.facebook.com/profile.php?id=100001948903237" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="line"></div>

<div class="header__main-nav wow fadeInUp">
    <nav class="container">
        <div class="row justify-content-between">
            <i class="header__open-btn fas fa-bars col-1 text-right" id="open-menu"></i>

            <a href="index.html" class="header__logo col-1"><img src="img/Logo.png" alt="Logo"></a>
            <ul class="header__main-nav-menu">
                <li class="header__menu-item"><a href="index.html">Головна</a></li>
                <li class="header__menu-item"><a href="water.html">Вода</a></li>
                <li class="header__menu-item"><a href="detox.html">Detox</a></li>
                <li class="header__menu-item"><a href="#">Здоров'я <i class="fas fa-angle-down"></i></a>
                    <ul class="header__menu-subitem subitem">
                        <li><a href="colo-vada.html">Коло-вада</a></li>
                        <li><a href="stomach.html">Кишечник</a></li>
                    </ul>
                </li>
                <li class="header__menu-item"><a href="#">Бізнес</a></li>
                <li class="header__menu-item"><a href="#">Контакти</a></li>    
            </ul>
        </div>
    </nav>
</div>
<div class="header__menu-toggle" id="menu-toggle">
    <i class="far fa-times-circle header__close-btn" id="close-menu"></i>
    <ul>
        <li class="header__menu-toggle-item"><a href="index.html">Головна</a></li>
        <li class="header__menu-toggle-item"><a href="water.html">Вода</a></li>
        <li class="header__menu-toggle-item"><a href="detox.html">Detox</a></li>
        <li class="header__menu-toggle-item"><a href="#">Здоров'я <i class="fas fa-angle-right"></i></a>
            <ul class="header__menu-toggle-subitem none">
                <li><a href="colo-vada.html">Коло-вада</a></li>
                <li><a href="stomach.html">Кишечник</a></li>
            </ul>
        </li>
        <li class="header__menu-toggle-item"><a href="#">Бізнес</a></li>
        <li class="header__menu-toggle-item"><a href="#">Контакти</a></li>    
    </ul>
</div>