<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Eco</title>
    <meta name="description" content="Eco">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body class="page">
    <header class="header wrap">
        //= _header.html
    </header>
    
    <section class="inner-header">
        <div class="inner-bg"></div>
        <div class="container">
            <h2 class="page-title">Вода</h2>
        </div>
    </section>
    <div class="empty-block"> <!--temp-->
        <h1>Content</h1>
    </div>
    //= _footer.html

    <script src="js/libs.min.js"></script>
    <script src="js/main.js" defer></script>
</body>
</html>