@import './partials/variables.scss';
@import './partials/common.scss';
@import './partials/header.scss';
@import './partials/media.scss';
@import './partials/footer.scss';
@import './partials/water.scss';
@import './partials/detox.scss';

.title {
    font: 1.8em $roboto;
    color: $greenColor;
}
.description {
    color: $greyText;
    font: .875em $roboto;
    margin-top: 20px;
}
.inner-title {
    color: #6d6d6d;
    font-size: 1.125em;
    text-transform: uppercase;
    font-weight: 600;
}
.inner-description {
    color: #a8a8a7;
    font: .875em $roboto;
}
.section__line {
    max-width: 123px;
    margin: 10px auto 15px;
}