.footer {
    position: relative;
    background: $greenColor;
    padding: 20px 0;
    .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
}
.footer__social{
    padding: 0;
    a {
        display: inline-block;
        text-align: center;
        margin-right: 25px;
        color: $headerBg;
        -webkit-transition: .5s ease;
        transition: .5s ease;
        font-size: 2em;
        &:hover {
            -webkit-animation: socialAnimation .5s forwards;
                    animation: socialAnimation .5s forwards;
                    color: #fff;
        }
    }
}
.contact-icon {
    z-index: 1000;
    position: fixed;
    display: inline-block;
    font-size: 1.8em;
    line-height: 1.5;
    border-radius: 50%;
    background: #444;
    right: 20px;

    &__phone {
        padding: 2px 8px 0;
        bottom: 70px;
    }
    &__mail {
        padding: 3px 8px 0;
        bottom: 10px;
    }
    i {
        color: $greenColor;
    }
}

@media screen and (max-width: 992px) {
    .footer {
        .container {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }
    }
    .footer__social{
        margin-top: 20px;
        a {
            margin-top: 0;
            font-size: 1.5em;
        }
    }    
}
.empty-block {
    text-align: center;
    background: #c2c2c3;
    padding: 300px 0;
}