.footer {
    position: relative;
    background: $greenColor;
    padding: 20px 0;
    .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
}
.footer__social{
    padding: 0;
    a {
        display: inline-block;
        text-align: center;
        margin-right: 15px;
        margin-top: 15px;
        color: $headerBg;
        -webkit-transition: .5s ease;
        transition: .5s ease;
        font-size: 1.3em;
        &:hover {
            -webkit-animation: socialAnimation .5s forwards;
                    animation: socialAnimation .5s forwards;
        }
    }
}
.footer__copy {
    
}
@media screen and (max-width: 992px) {
    .footer {
        .container {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }
    }
    .footer__social{
        margin-top: 20px;
        a {
            margin-top: 5px;
            font-size: 1.1em;
        }
    }    
}
.empty-block {
    text-align: center;
    background: #c2c2c3;
    padding: 300px 0;
}