.header {
    position: relative;
    z-index: 1;
    background-color: $headerBg;
    //padding-bottom: 120px;
}
.header__inner {
    color: #000;
}
.header__header-bg{
    display: block;
    position: absolute;
    z-index: 0;
    content: '';
    background: #000;
    background-image: url('.././img/headerBG.jpg');
    background-size: cover;
    background-attachment: fixed;
    opacity: .3;
    width: 100%;
    height: 100%;
}

//header-inner
.inner {
    .header {
        background: $whiteText;
        color: #000;
        padding-bottom: 0;
    }
    .header__header-top {
        background: $greenColor;
    }
    .header__contact {
        color: $whiteText;
    }
    .header__social{
        a {
            color: $whiteText;
            background: $greenColor;
        }
    }
    .header__menu-item {
        a {
            color: $headerBg;
            font-weight: 600;
            &:hover {
                color: $headerBg;
            }
        }
    }
    .subitem {
        li {
            opacity: 0;
            margin-bottom: 2px;
            a{
                position: relative;
                &:after {
                    background-color: #000; 
                }
            }
        }
    }
    .line {
        background: #000;
    }
    .header__open-btn {
        color: #000;
    }
    .header__fixed-nav {
        background:#eee;
        box-shadow: 0 0 20px #000;
        a {
            color: #000;
        }
    }
}
//header-top

.header__header-top {
    padding: 15px 0 10px;
}

.header__contact {
    font: .9em $roboto;
    color: $whiteText;
    white-space: nowrap;
}
.header__social{
    text-align: right;
    padding: 0;
    a {
        display: inline-block;
        text-align: center;
        margin-right: 12px;
        color: $headerBg;
        background: $whiteText;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        transition: .5s ease;
        &:hover {
            transform: scale(1.2);
        }
    }
}
//header menu
.header__main-nav {
    padding: 15px 0;
    transition: .5s ease;
}
.header__main-nav-menu {
    margin-top: 20px;
    padding-bottom: 15px;
    position: relative; 
    transition:  .5s ease;
}

.header__menu-item {
    display: inline-block;
    position: relative;
    left: 0;
    margin-right: 40px;
    letter-spacing: 2px;
    transition: .5s ease;
    &:hover {
        transform: scale(1.2);
    }
    a {
        text-transform: uppercase;
        color: $whiteText;
        font: 1em $roboto;
        font-weight: 400;
        &:hover {
            color: $greenColor;
            text-decoration: none;
        }
    }
}
.header__menu-item:last-child {
    margin-right: 0;
}

.header__fixed-nav {
    position: fixed;
    top: 0;
    padding: 10px 0 15px;
    left: 0;
    background: #000;
    opacity: .95;
    width: 100%;
    z-index:999;
    transition: .5s ease;
    box-shadow: 0 0 20px #000;
}

// header__menu -- submenu
.subitem {
    position: absolute;
    padding: 0;
    a{
        font-size: .8em;
        font-weight: 400;
        &:hover {
           font-size: 1em;
        }
    }
    li {
        opacity: 0;
        margin-bottom: 2px;
        a{
            position: relative;
        
            &:after {
                display: block;
                position: absolute;
                left: 0; 
                width: 0;
                height: 1px; 
                background-color: $greenColor; 
                content: " ";
                transition: width 0.3s ease-out; 
            }
            &:hover:after {
	            width: 100%; 
            }
        }
    }
}

.header__menu-subitem {
    left: 0;
    padding-top: 25px;
}

.header__main-nav-menu li:hover .subitem li:first-of-type {
    animation: menu2 .3s ease-in-out forwards;
    animation-delay: .2s;
}
  
.header__main-nav-menu li:hover .subitem li:nth-of-type(2) {
    animation: menu2 .3s ease-in-out forwards;
    animation-delay: .4s;
}
  
.header__main-nav-menu li:hover .subitem li:last-of-type {
    animation: menu2 .3s ease-in-out forwards;
    animation-delay: .6s;
}
  
@keyframes menu2 {
    0% {
      opacity: 0;
      transform: scale(.7);
    }
    50% {
      opacity: .5;
      transform: scale(1.2);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
}

//header content
.header__content {
    position: relative;
    margin-top: 130px;
    text-align: center;
    color: $whiteText;
}

.header__title {
    font-size: 2.8em;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.header__line {
    width: 100%;
    max-width: 372px;
    margin: 29px auto;
}

.header__subtitle {
    font-size: .9em;
    letter-spacing: 1px;
}

.header__btn {
    font-size: 1.2em;
    margin-top: 50px;
    margin-bottom: 100px;
    transition: .5s ease;
}

//menu-toggle
.header__open-btn {
    position: absolute;
    top: 30px;
    right: 0;
    margin-right: 10%;
    color: $whiteText;
    font-size: 2.5em;
    display: none;
    cursor: pointer;
}

.header__menu-toggle {
    position: fixed;
    left: -100%;
    z-index: 9999;
    top: 0;
    height: 100%;
    background: #000;
    opacity: .96;
    width: 100%;
    text-transform: uppercase;
    ul {
        padding: 5% 0 0 5%;
    }
}

.header__menu-toggle-item {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 50%;
    margin-bottom: 20px;
    a {
        color: $whiteText;
        &:hover {
            color: $greenColor;
            text-decoration: none;
        }
    }

    &:hover > .header__menu-toggle-subitem {
        display: block;
    }
}

.header__menu-toggle-subitem {
    position: absolute;
    top: -10px;
    left: 160px;
    li {
        margin-bottom: 10px;
    }
}

.header__close-btn {
    position: absolute;
    color: $whiteText;
    cursor: pointer;
    font-size: .8em;
    padding-top: 6%;
    right: 5%;
}
//page-header
.page-head {
    background: $greenColor;   
    padding: 30px 0;
}
.page-head__title {
    margin: 0;
    font-family: $roboto;
    font-size: 2.5em;
    text-transform: uppercase;
    color: $whiteText;
}
//media for header 
@media screen and (max-width: 992px) {
    .header {
        font-size: .9em;
    }
    .header__content {
        margin-top: 110px;
    }
    .header__title {
        font-size: 2.5em;
    }
    .header__open-btn {
        display: block;
    }
    .header__main-nav-menu, .header__header-top{
        display: none;
    }
    .header__menu-toggle {
        font-size: 2em;
    }
    .header__btn {
        margin-bottom: 70px;
    }
    .page-head {   
        padding: 15px 0;
        text-align: center;
    }
}
@media screen and (max-width: 480px){
    .header__title {
        font-size: 2em;
    }
}