.header {
    position: relative;
    z-index: 1;
    background-color: $headerBg;
    background-image: url('.././img/headerBG.jpg');
    background-size: cover;
}
.header-bg{
    display: block;
    position: absolute;
    z-index: 0;
    content: '';
    background: #000;
    opacity: .7;
    width: 100%;
    height: 100%;
}

//header-top

.header-top {
    padding: 12px 0 6px;
}

.header-top__contact {
    font: .8em $roboto;
    color: $whiteText;
    white-space: nowrap;
}

//header menu

.main-nav {
    margin-top: 15px;
    padding-bottom: 15px;
    position: relative; 
    transition:  .5s ease;
}
.fixed-nav {
    position: fixed;
    top: -15px;
    padding: 5px 5% 5px 3%;
    left: 0;
    background: #000;
    opacity: .95;
    width: 100%;
    z-index:999;
    transition: .5s ease;
}
.menu {
    margin-top: 17px;
}

.menu__item {
    position: relative;
    left: 0;
    margin-right: 40px;
    letter-spacing: 2px;
    transition: .5s ease;
    &:hover {
        transform: scale(1.3);
    }
    a {
        text-transform: uppercase;
        color: $whiteText;
        font: 1em $roboto;
        font-weight: 400;
        &:hover {
            color: $greenColor;
            text-decoration: none;
        }
    }
}
// header__nav -- submenu
.subitem {
    position: absolute;
    a{
        font-size: .8em;
        font-weight: 400;
        &:hover {
           font-size: 1em;
        }
    }
    li {
        opacity: 0;
        margin-bottom: 2px;
        a{
            position: relative;
        
            &:after {
                display: block;
                position: absolute;
                left: 0; 
                width: 0;
                height: 1px; 
                background-color: $greenColor; 
                content: " ";
                transition: width 0.3s ease-out; 
            }
            &:hover:after {
	            width: 100%; 
            }
        }
    }
}

.menu__subitem {
    margin-left: -40px;
    padding-top: 10px;
}
.menu li:hover .subitem li:first-of-type {
    animation: menu2 .3s ease-in-out forwards;
    animation-delay: .2s;
}
  
.menu li:hover .subitem li:nth-of-type(2) {
    animation: menu2 .3s ease-in-out forwards;
    animation-delay: .4s;
}
  
.menu li:hover .subitem li:last-of-type {
    animation: menu2 .3s ease-in-out forwards;
    animation-delay: .6s;
}
  
@keyframes menu2 {
    0% {
      opacity: 0;
      transform: scale(.7);
    }
    50% {
      opacity: .5;
      transform: scale(1.2);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
}

//header content
.header-content {
    position: relative;
    margin-top: 160px;
    text-align: center;
    color: $whiteText;
}

.header-content__title {
    font-size: 3em;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.header-content__line {
    width: 100%;
    max-width: 372px;
    margin: 29px auto;
}

.header-content__description {
    font-size: .875em;
    letter-spacing: 1px;
}
.header-content__btn {
    margin-top: 50px;
    margin-bottom: 100px;
    transition: .5s ease;
    &:hover {
        transform: scale(1.2);
    }
}

//menu-toggle
.open-menu {
    position: absolute;
    top: 17px;
    right: 20px;
    color: $whiteText;
    font-size: 2.5em;
    display: none;
    cursor: pointer;
}

.menu-toggle {
    position: fixed;
    left: 0;
    z-index: 30;
    top: -100%;
    height: 100%;
    background: #000;
    opacity: .96;
    width: 100%;
    text-transform: uppercase;

    ul {
        padding-top: 10%;
    }
}

.menu-toggle__item {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 50%;
    margin-bottom: 20px;
    a {
        color: $whiteText;
        &:hover {
            color: $greenColor;
            text-decoration: none;
        }
    }

    &:hover > .menu-toggle__subitem {
        display: block;
    }
}

.menu-toggle__subitem {
    position: absolute;
    top: -18px;
    left: 140px;

    li {
        margin-bottom: 10px;
    }
}

.close-menu {
    position: absolute;
    color: $whiteText;
    cursor: pointer;
    font-size: .8em;
    padding-top: 11%;
    right: 5%;
}
.wrap {
    background: $headerBg;
}
//media for header 
@media screen and (max-width: 992px) {
    .header-content {
        margin-top: 110px;
    }
    .open-menu {
        display: block;
    }
    .menu, .header-top{
        display: none;
    }
    .header__line {
        opacity: 0;
    }
    .header__header-content {
        margin-top: 100px;
    }
    .menu-toggle {
        font-size: 2em;
    }
    .header-content__btn {
        font-size: 1.4em;
    }
}